<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="informaticien" class="fr.natsystem.formation.bean.Informaticien" />
	<bean id="avocat" class="fr.natsystem.formation.bean.Avocat" />
	
	<bean id="profession" class="fr.natsystem.formation.bean.Informaticien"/>	
	
	<bean id="metier" class="fr.natsystem.formation.bean.Metier" autowire="byName">
		<property name="contrat" value="Super Dev"/>
	</bean>	

</beans>